### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
player_count = purchase_data["SN"].nunique()
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_itemcount = purchase_data["Item ID"].nunique()
unique_itemcount

183

In [5]:
avg_price = purchase_data["Price"].mean()
avg_price

3.050987179487176

In [6]:
purchase_count = len(purchase_data)
purchase_count

780

In [7]:
summary_data = [["Summary of Data",unique_itemcount,avg_price,purchase_count]]
summary_data_df = pd.DataFrame(summary_data, columns = ["","Unique Items", "Avg Price", "Total Purchases"])
summary_data_df.set_index("")

                 Unique Items  Avg Price  Total Purchases

Summary of Data           183   3.050987              780

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [31]:
#purchase_data["Gender"].value_counts("Male")
gender_avg = purchase_data['Gender'].value_counts() / len(purchase_data)
gender_count = purchase_data['Gender'].value_counts()
#gender_data = [["Male",gender_count(),gender_avg["Male"]],["Female", gender_avg["Female"]],["Other / Non-Disclosed",gender_avg["Other / Non-Disclosed"]]]
#gender_avg_df = pd.DataFrame(gender_data,columns = ["Count of Gender","Percentage of Gender"])

count_df = gender_count.to_frame()
count_df.set_index("")

KeyError: "None of [''] are in the columns"

In [29]:
gender_avg.to_frame()*100

                          Gender
Male                   83.589744
Female                 14.487179
Other / Non-Disclosed   1.923077

In [25]:
gender_merged_df = pd.merge(count_df,avg_df, on="Gender")
gender_merged_df

Empty DataFrame
Columns: [Gender]
Index: []

In [ ]:
## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [36]:
bins = [-1, 9 , 14, 19, 24,29, 34, 39, 50]# Create bins 
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]# Create labels for these bins

purchase_data["Age Bins"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
purchase_data.head()

gender_grouped = purchase_data.groupby("Age Bins")
age_count = gender_grouped["Age Bins"].count()
age_count

Age Bins
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Age Bins, dtype: int64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [34]:
bins = [-1, 9 , 14, 19, 24,29, 34, 39, 50]# Create bins 
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]# Create labels for these bins

purchase_data["Age Bins"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
purchase_data.head()# Slice the data and place it into bins

gender_grouped = purchase_data.groupby("Age Bins")
Purchase_Count = gender_grouped["Purchase ID"].count()
# Place the data series into a new column inside of the DataFrame

Total_Purchase_Value = gender_grouped["Price"].sum()

Average_Purchase_Price = Total_Purchase_Value/Purchase_Count

uniqueID_per_group = gender_grouped["SN"].nunique()

Avg_Total_Purchase_per_Person = Total_Purchase_Value/uniqueID_per_group

Age_Purchasing = pd.DataFrame( {"Purchase Count": Purchase_Count,
                                "Average Purchase Price" : Average_Purchase_Price,
                                "Total Purchase Value" : Total_Purchase_Value,
                                "Avg Total Purchase per Person" : Avg_Total_Purchase_per_Person,
})

Age_Purchasing =Age_Purchasing.style.format({
    "Average Purchase Price": "${:.2f}".format,
    "Total Purchase Value": "${:.2f}".format,
    "Avg Total Purchase per Person": "${:.2f}".format,
})
Age_Purchasing

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame